@mixin banner() {
    background-color: $background-color;
    border-radius: 50%;
    width: 50%;
    font-size: $h1-font-size;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 5px 1px white, 1px 1px 25px #00a3c6;

    text-align: center;
    padding: 1%;
    height: 50%;
    margin: 0px auto;
    text-shadow:  2px 1px 1px white,10px 15px 10px#044268;
    color: #007199;
    filter: saturate(2)
}

@mixin flex($flex-direction) {
    display: -webkit-flex;
    display: flex;

    -ms-flex: 2 1 200px;
    -moz-flex: 2 1 200px;
    flex: 2 1 200px;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;


    flex-direction: $flex-direction;
    -ms-flex-direction: $flex-direction;

    

    

    
}

@mixin image-style() {
    display: block;
    margin: 0px auto;
    border: groove;
    border-radius: 5%;
    box-shadow: 5px 5px 10px black;
    
}
@mixin center(){
    display: block;
    margin: 0px auto;
    
}


@mixin media-screen($min-width, $max-width){
    @if $min-width > 0px{
        @media only screen and (min-width: $min-width){
            @content;
        }
    }
    @else {
        @media only screen and (max-width: $max-width){
            @content;
        }
    }
}