$basic-background-color: linear-gradient(to bottom, #051937, #044268, #007199, #00a3c6, #12d8eb, #051937);
$background-image: url("../Images/pier.png");

$body-background-color:linear-gradient(to top, #e7bd86, #e6c18e, #e5c596, #e5c99f, #e4cda7, #e4cda7, #e4cda7, #e4cda7, #e5c99f, #e5c596, #e6c18e, #e7bd86);
$banner-image: url("../Images/beach.jpg");

$background-waves: url("../Images/ocean.png");

$text-color: #00a3c6;
$background-color: #051937;

$h1-font-size: 4em;

$row-wrap: row wrap;

$min-width: 480px;
$max-width: 481px;

